# Arquivos de ambiente
.env
INICIAR EXECUÇÃO.bat
comandos_git.txt
app_app.py
senha supabase telegram-payment-bot.txt
GRUPOS_CANAIS.txt
backup/
admin_handlers - Copia.py

# Cache do Python
__pycache__/
*.pyc